@import '@/styles/vars';
@import '@/styles/mixins';

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 28px;

  @include onTablet {
    padding: 20px 0;
  }

  &__title {
    margin-bottom: 60px;

    @include onTablet {
      font-size: 56px;
    }

    &-words {
      display: flex;
      align-items: center;
    }

    &-word {
      margin-right: 10px;
      font-size: 30px;
      line-height: 125%;
      letter-spacing: 1px;
      font-weight: 700;
      cursor: default;

      @include onTablet {
        font-size: 42px;
      }
    }

    &-ch {
      display: inline-block;
      transition-property: color, transform;
      transition-duration: 200ms, 200ms;

      &:hover {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }

      &--active {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }
    }
  }

  &__projects {
    display: flex;
    flex-direction: column;
  }

  &__project {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;

    &-content {
      display: flex;
      flex-direction: column;

      @include onTablet {
        flex-direction: row;
      }

      &--reversed {
        @include onTablet {
          flex-direction: row-reverse;
          justify-content: space-between;
        }
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
    }
  }

  &__image {
    flex-shrink: 0;
    width: 100%;
    padding-top: 64%;
    margin-bottom: 14px;
    // backdrop-filter: blur(14px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    // box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 5px;

    @include onTablet {
      padding: 0;
      width: 400px;
      height: 240px;
    }

    &--jobs {
      background-image: url('../../media/projects/jobs/jobs-0.png');

      @include onTablet {
        margin-right: 20px;
      }
    }

    &--upwork {
      background-image: url('../../media/projects/upwork/upwork-0.png');

      @include onTablet {
        margin-left: 20px;
      }
    }
  }

  &__name {
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;
  }

  &__descriptions {
    display: flex;
    flex-direction: column;
  }

  &__description {
    margin-bottom: 12px;
    text-indent: 14px;
    font-size: 16px;
    line-height: 20px;
  }

  &__techstack {
    display: flex;
    flex-direction: column;

    &-title {
      font-size: 18px;
    }

    &-list {
      margin-bottom: 12px;
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      margin-right: 4px;

      &:first-child {
        text-indent: 14px;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    border: 1px solid $purple;
    transition-property: transform, background-color;
    transition-duration: 200ms, 200ms;

    &:hover {
      background-color: $purple;
      transform: scale(1.05);
    }

    &--demo {
      margin-right: 8px;
    }

    &--code {
      margin-left: 8px;
    }
  }
}
