@import '@/styles/vars';
@import '@/styles/mixins';

.portfolio {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 28px;

  @include onTablet {
    padding: 20px 0;
  }

  &__title {
    margin-bottom: 60px;

    @include onTablet {
      font-size: 56px;
    }

    &-words {
      display: flex;
      align-items: center;
    }

    &-word {
      margin-right: 10px;
      font-size: 30px;
      line-height: 125%;
      letter-spacing: 1px;
      font-weight: 700;
      cursor: default;

      @include onTablet {
        font-size: 42px;
      }
    }

    &-ch {
      display: inline-block;
      transition-property: color, transform;
      transition-duration: 200ms, 200ms;

      &:hover {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }

      &--active {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }
    }
  }

  &__projects {
    display: flex;
    flex-direction: column;
  }

  &__project {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 60px;
    // background-color: rgb(78, 75, 75);

    @include onTablet {
      flex-direction: row;
    }

    &--reversed {
      @include onTablet {
        flex-direction: row-reverse;
      }
    }
  }

  &__image {
    flex-shrink: 0;
    width: 100%;
    padding-top: 64%;
    margin-bottom: 10px;
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    @include onTablet {
      padding: 0;
      width: 400px;
      height: 240px;
    }

    &--upwork {
      background-image: url('../../media/projects/upwork-project.png');
    }

    &--videoworkers {
      background-image: url('../../media/projects/jobs-platform-dashboard.png');
    }
  }

  &__name {
    order: -1;
    margin-bottom: 10px;
    font-size: 22px;
    text-align: center;

    @include onTablet {
      order: 0;
      margin: 0;
    }
  }

  &__description {
    margin-bottom: 12px;
    text-indent: 14px;
    font-size: 16px;
    line-height: 18px;
  }

  &__techstack {}

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    border: 1px solid $purple;
    transition-property: transform, background-color;
    transition-duration: 200ms, 200ms;

    &:hover {
      background-color: $purple;
      transform: scale(1.05);
    }

    &--demo {
      margin-right: 8px;
    }

    &--code {
      margin-left: 8px;
    }
  }
}
