//colors
$dark: #181818;
$black: #1d1d1d;

// $dark: #0a0a0a;
// $black: #181818;
$white: #fefefe;
$white-gray: #efefef;
$white-gray-2: #f8f8f8;
$gray: #6e6e6e;
$green: #43cb83;
$blue: #5991cb;
$blue-knight: #434BE7;
$red: #e21e1e;
$purple: #6f2da8;
$dashboard-bg: #ebeef1;

//font for titles
$monserrat: var(--font-monserrat);
