@import '@/styles/vars';
@import '@/styles/mixins';

.about {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 28px;

    @include onTablet {
      padding: 20px 0;
    }
  }

  &__title {
    margin-bottom: 60px;

    @include onTablet {
      font-size: 56px;
    }

    &-words {
      display: flex;
      align-items: center;
    }

    &-word {
      margin-right: 10px;
      font-size: 36px;
      line-height: 125%;
      letter-spacing: 1px;
      font-weight: 700;
      cursor: default;

      @include onTablet {
        font-size: 56px;
      }
    }

    &-ch {
      display: inline-block;
      transition-property: color, transform;
      transition-duration: 200ms, 200ms;

      &:hover {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }

      &--active {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 125%;
  }

  &__skils {

  }
}
