@import '@/styles/vars';
@import '@/styles/mixins';

.main-layout {
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: #fff;
  min-height: 100vh;
  max-width: 1700px;

  @media (min-width: 1700px) {
    margin: 0 auto;
  }

  &__outside {
    display: none;
    color: $black;
    position: absolute;
    left: 10px;
    top: 20px;
    font-weight: 700;
    font-style: 30px;

    @media (min-width: 1900px) {
      display: block;
    }
  }

  &__header {
    @include onLaptop {
      display: none;
    }
  }

  &__main {
    display: flex;
  }

  &__children {
    width: 100%;
    padding: 82px 34px;
    min-height: calc(100vh - 100px);

    @include onTablet {
      padding: 82px 62px;
    }

    @include onLaptop {
      min-height: 100vh;
    }

    @include onDesktop {
      padding: 82px;
    }
  }

  &__sidebar {
    display: none;
    width: 80px;

    @include onLaptop {
      display: flex;
    }
  }
}
