@import '@/styles/vars';
@import '@/styles/mixins';

.main-layout {
  background-color: $black;
  color: #fff;
  min-height: 100vh;

  &__header {
    @include onLaptop {
      display: none;
    }
  }

  &__main {
    display: flex;
  }

  &__children {
    width: 100%;
    padding: 58px 34px;
    min-height: calc(100vh - 100px);

    @include onTablet {
      padding: 58px;
    }

    @include onLaptop {
      min-height: 100vh;
    }

    @include onDesktop {
      padding: 82px;
    }
  }

  &__sidebar {
    display: none;
    width: 80px;

    @include onLaptop {
      display: flex;
    }
  }
}