@import '@/styles/vars';
@import '@/styles/mixins';

.home {
  display: flex;
  height: 100%;
  justify-content: space-between;

  &__image {
    display: none;
    @include icon;
    background-size: cover;
    background-image: url('../../media/img/profile.jpg');

    @include onLaptop {
      display: flex;
      margin-top: 140px;
      @include circle (300px);
    }

    @include onDesktop {
      margin-top: 0;
      @include circle(500px);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
  }

  &__title {
    margin-bottom: 100px;

    &-word {
      font-size: 36px;
      line-height: 125%;
      letter-spacing: 1px;
      font-weight: 700;
      cursor: default;

      @include onTablet {
        font-size: 56px;
      }
    }

    &-letter {
      // transition-property: color;
      // transition-duration: 100ms;
      animation: waviy 1s;

      &:hover {
        color: $purple;
      }
    }
  }

  &__text {
    font-size: 20px;
  }
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0);
  }

  20% {
    transform: translateX(-20px);
  }
}
