@import '@/styles/vars';
@import '@/styles/mixins';

.home {
  display: flex;
  height: 100%;
  justify-content: space-between;

  &__animation {
    position: absolute;
    top: 120px;
    right: 100px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    @include onTablet {
      width: 40%;
    }

    @include onLaptop {
      width: 40%;
    }

    @include onDesktop {
      position: relative;
      top: 20px;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 180px;
  }

  &__title {
    margin-bottom: 60px;

    @include onTablet {
      margin-bottom: 100px;
    }

    &-words {
      display: flex;
      align-items: center;
    }

    &-word {
      margin-right: 10px;
      font-size: 36px;
      line-height: 125%;
      letter-spacing: 1px;
      font-weight: 700;
      cursor: default;

      @include onTablet {
        font-size: 56px;
      }
    }

    &-ch {
      display: inline-block;
      transition-property: color, transform;
      transition-duration: 200ms, 200ms;

      &:hover {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }

      &--active {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }
    }
  }

  &__text {
    font-size: 20px;
    line-height: 125%;
  }
}

