@import '../../styles/vars';
@import '../../styles/mixins';

// https://calendly.com/nicu-iorga
.contact {
  display: flex;
  flex-direction: column;

  @include onTablet {
    flex-direction: row;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 28px;
    width: 100%;

    @include onTablet {
      padding: 20px 0;
    }
  }

  &__title {
    margin-bottom: 60px;

    @include onTablet {
      font-size: 56px;
    }

    &-words {
      display: flex;
      align-items: center;
    }

    &-word {
      margin-right: 10px;
      font-size: 30px;
      line-height: 125%;
      letter-spacing: 1px;
      font-weight: 700;
      cursor: default;

      @include onTablet {
        font-size: 42px;
      }
    }

    &-ch {
      display: inline-block;
      transition-property: color, transform;
      transition-duration: 200ms, 200ms;

      &:hover {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }

      &--active {
        color: $purple;
        transform: scale(1.2) rotateY(40deg);
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    width: 100%;

    @include onLaptop {
      width: 60%;
      max-width: 640px;
    }

    &-section {
      text-indent: 40px;
      display: block;
      padding-bottom: 20px;

      @include onLaptop {
        padding-bottom: 30px;
      }

      &:first-child {
        @include onTablet {
          width: 60%;
        }

        @include onLaptop {
          width: 100%;
        }
      }

      &:last-child {
        padding-bottom: 8px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-wrapper {
      margin-top: 80px;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    @include onTabletSmall {
      flex-direction: row;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
    background-color: #2b2b2b;
    border: 0;
    font-family: $kalam;
    color: #fff;
    font-size: 16px;

    @include onTabletSmall {
      flex-direction: row;
    }

    &:hover {
      border: 1px solid $purple;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid $purple;
    }

    &::placeholder {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      font-family: $kalam;
    }

    &--name {
      @include onTabletSmall {
        width: 50%;
      }
    }

    &--email {
      @include onTabletSmall {
        width: 48%;
        margin-left: 2%;
      }
    }

    &--message {
      height: 120px;
      padding: 20px;
      resize: none;
    }
  }

  &__submit {
    align-self: flex-end;
    width: max-content;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    background-color: #2b2b2b;
    cursor: pointer;
    transition: transform 200ms;
    border: 0;
    color: $gray;
    font-weight: 600;
    font-size: 16px;
    font-family: $kalam;

    @include onTablet {
      padding: 0 60px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
