@import '@/styles/vars';
@import '@/styles/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 10px;
  background-color: $dark;
  border-bottom: 1px solid $gray;

  @include onTabletSmall {
    padding: 0 20px;
  }

  @include onTablet {
    padding: 0 30px;
  }

  &__logo {
    @include square(70px);
    @include icon;
    background-image: url('../../media/icons/letter-n-purple.svg');
  }

  &__left {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    font-size: 54px;
    line-height: 36px;
    font-weight: 700;
    color: $gray;
    cursor: default;

    &:hover {
      color: $purple;
    }
  }

  &__button {

  }
}