@import '@/styles/vars';
@import '@/styles/mixins';

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $dark;
  
  &--forSidebar {
    justify-content: space-between;
  }
  

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #000;
    color: $gray;

    &--disabled {
      display: none;
    }

    &-img {
      margin-bottom: 14px;
      @include square(70px);
      @include icon;
      background-image: url('../../media/icons/letter-n-gray.svg');
    }

    &-name {
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      color: #fff;
    }
  }

  &__pages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px;
    width: 180px;
    
    &--forSidebar {
      align-items: center;
      width: 100%;
    }

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 8px 0px;
      cursor: pointer;
      transition: color 300ms;
      border: 0;
      
      &:last-child {
        border: 0;
      }
      
      &--forSidebar {
        justify-content: center;
        border-bottom: 1px solid rgb(49, 49, 49);
      }
    }

    &-icon {
      flex-shrink: 0;
      @include square(36px);
      @include icon;
      opacity: 1;
      transition-property: opacity, background-image;
      transition-duration: 300ms;
      margin-right: 10px;
      
      &--sidebar-hover {
        opacity: 0;
      }
      
      &--forSidebar {
        @include square(24px);
        margin: 0;
      }

      &--home {
        background-image: url('../../media/icons/home-gray.svg');
        
        &--active {
          background-image: url('../../media/icons/home-purple.svg');
        }

        // &
      }
      
      &--about {
        background-image: url('../../media/icons/about-gray.png');
                
        &--active {
          background-image: url('../../media/icons/about-purple.png');
        }
      }
      
      &--portfolio {
        background-image: url('../../media/icons/portfolio-gray.svg');
                
        &--active {
          background-image: url('../../media/icons/portfolio-purple.svg');
        }
      }
      
      &--blog {
        background-image: url('../../media/icons/home-gray.svg');
                
        &--active {
          background-image: url('../../media/icons/home-purple.svg');
        }
      }
      
      &--contact {
        background-image: url('../../media/icons/contact-gray.png');
                
        &--active {
          background-image: url('../../media/icons/contact-purple.png');
        }
      }
    }

    &-text {
      position: relative;
      top: 4px;
      font-size: 24px;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      color: $gray;
      letter-spacing: 1px;
      transition-property: color, opacity;
      transition-duration: 300ms;
      
      &--selected {
        color: $purple;
      }
      
      &--forSidebar {
        font-size: 12px;
        top: 16px;
        position: absolute;
        opacity: 0;
      }

      &--active  {
        opacity: 1;
        color: $purple;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 0px;
    width: 120px;
    
    &--forSidebar {
      width: 100%;
      align-items: center;
      background-color: #000;
    }

    &-icon {
      @include square(22px);
      @include icon;
      transition-property: background-image, transform;
      transition-duration: 300ms;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
      
      &--linkedin {
        margin-bottom: 12px;
        background-image: url('../../media/icons/linkedin-gray.svg');
        
        &:hover {
          background-image: url('../../media/icons/linkedin-purple.svg');
        }
      }
      
      &--github {
        @include square(24px);
        background-image: url('../../media/icons/github-gray.svg');
        
        &:hover {
          background-image: url('../../media/icons/github-purple.svg');
        }
      }
    }
  }
}
