@import '@/styles/vars';
@import '@/styles/mixins';

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  height: 100%;
  width: 120px;
  background-color: $dark;
  

  &__logo {

  }

  &__pages {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      margin-bottom: 12px;

      font-family: $monserrat;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      text-transform: uppercase;
      color: $gray;
      cursor: pointer;
      transition: color 300ms;
      letter-spacing: 0.6px;

      &--active, &:hover  {
        color: $purple;
        font-weight: 600;
      }
    }

    &-icon {
      margin-right: 10px;
      @include square(24px);
      @include icon;
    }
  }

  &__social {
    display: flex;
    align-items: center;

    &-icon {
      @include square(30px);
      @include icon;
      transition-property: background-image transform;
      transition-duration: 300ms;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
      
      &--linkedin {
        margin-right: 20px;
        background-image: url('../../media/icons/linkedin-gray.svg');
        
        &:hover {
          background-image: url('../../media/icons/linkedin-purple.svg');
        }
      }
      
      &--github {
        @include square(32px);
        background-image: url('../../media/icons/github-gray.svg');
        
        &:hover {
          background-image: url('../../media/icons/github-purple.svg');
        }
      }
    }
  }
}